@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
	--color-neutral-0: rgb(27, 73, 31);
	--color-neutral-10: rgb(35, 94, 40);
	--color-neutral-20: rgb(46, 122, 52);
	--color-neutral-30: rgb(70, 170, 78);
}

body {
    width: 100%;
    
}

nav {
    width: 100%;
    height: 5%;
    display: flex;
    position: fixed;
    margin-top: 20px;
    text-align: center;   
}

#navigator ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 33%;
}

#navigator ul li {
    list-style: none;
    margin-right: 20px;
    font-weight: 600;
}

.btn {
    padding: 10px 8px;
    color: rgb(46, 122, 52);
    border: 1px solid rgb(193, 196, 57);
    border-radius: 20px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    transition: 1s;
}

#merchan {
    width: 100%;
    display: flex;
    position: relative;   
}

#merchan img {
    display: flex;
    width: 100%;
    opacity: 90%;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.membership {
    border-right: 1px solid rgb(193, 196, 57);
    border-left: 1px solid rgb(193, 196, 57);
    margin-right: 40px;
    padding: 30px;
    text-align: center;
}

#company {
    margin-top: 80px;
    display: flex;
    text-align: center;
    word-wrap: break-word;
    padding: 10px;
}

#company img {
    border-radius: 5px;
    margin-left: 200px;
}

#company h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

#aboutus {
    margin-left: 120px;
    padding: 20px;
    margin-top: 70px;
    text-align: center;
    width: 450px;
}

#flipcard-title h1 {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: 30px;
    position: relative;
}

.flipcard {
    margin-bottom: 230px;
    width: 400px;
    height: 100px;
    display: flex; 
    margin-left: 200px;
    margin-top: 100px;
}

.flipcard img {
    margin-left: 600px;
    height: 300px;
}

#fixedinc, #varinc {
    position: absolute;
    width: 400px;
    height: 200px;
    transition: 700ms;
    padding: 20px;
}

#fixedinc {
    background: rgb(193, 245, 193);
    z-index: 1;
    border-radius: 20px;
    border: 1px solid rgb(193, 196, 57);
    text-align: justify center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#fixedinc h1 {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#varinc {
    background: rgb(193, 245, 193);
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    border-radius: 20px;
    border: 1px solid rgb(193, 196, 57);
    text-align: justify center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#varinc h1 {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.flipcard:hover #fixedinc {
    transform: rotateY(180deg);
    z-index: 0;
}
  
.flipcard:hover #varinc {
    transform: rotateY(0);
    z-index: 1;
}

#setup-title h1 {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 30px;
    position: relative;
}

.card {
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3rem;
    position: relative;
}

.setup {
    width: 300px;
    height: 600px;
    border-radius: 15px;
    margin-top: 10px;
    border: 1px solid rgb(193, 196, 57);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    overflow: hidden;
}

.setup::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(193, 196, 57);
    border-right: 20px solid rgb(193, 196, 57);
}

#stptitle {
    margin-top: 20px;
    text-align: center;
}

#stpdesc {
    padding: 20px;
    text-align: center center;
    word-wrap: normal;
    overflow: hidden;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin {
    background: linear-gradient(#6f9af0, #c2ced3);
}

#twitter {
    background: linear-gradient(#2566e7, #4b56fa);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    margin-left: 100px;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: rgb(193, 196, 57);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    border: none;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}